@use '../utilities/variables';
@use '../utilities/mixins';

footer {
  margin: variables.$margin-desktop;
}

.footer {
  width: 100%;
  padding: 96px 0;
  display: grid;
  grid-template-columns: 180px auto;
  gap: 60px;
  align-items: center;
}

.copy {
  text-align: right;
}

footer div {
  padding: 6px 0px;
}

.iso-footer {
    width: 100%; 
    grid-column: 1; 
    grid-row: 1; 
    justify-self: center; 
}

.footer-content {
    @include mixins.flex (column, flex-start, auto)
}

.stores {
  display: flex;
  align-items: center;
}

.android-footer,
.apple-footer {
  height: 48px; 
  width: auto;
  display: block; 
}

.android-footer {
  margin-right: 18px; 
}

@media (max-width: 991px) { 
  footer {
    margin: variables.$margin-mobile;
  }

  .footer {
    grid-template-columns: 1fr;
    gap: 30px;
    padding: 40px 0;
    text-align: left;
    display: grid;
  }
  .iso-footer {
    width: 180px;
    grid-column: 1 / -1;
    order: 1;
    justify-self: start;
  }

  .copy {
    padding: variables.$margin-mobile;
  }
}
