// partials/components/_general.scss

@use '../utilities/mixins' as m;
@use '../utilities/variables' as v;


//hero index
.hero {
  background-image: url("../assets/bg hero.svg");
  background-size: cover;
  min-height: 80vh; 
  background-repeat: no-repeat;
  background-position: top center;
  
  padding-top: 80px; 
  padding-bottom: 80px; 
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  position:relative;
  
  margin: 0 v.$margin-base 40px v.$margin-base; 

  h1 { text-align: center; margin-bottom: 28px; }

  > div { display: flex; gap: 16px; margin-bottom: 48px; }

  .descargar { height: 48px; }

  .hero-image {
    width: 300px;
    position: absolute;
    bottom: -320px;
  }
}

//hero variables
.hero, .nosotros-hero, .oportunidades-hero, .contacto-hero, .faq-hero {
  border-radius: v.$border-radius-xl;
  margin: 0 v.$margin-base;
}
.nosotros-hero, .oportunidades-hero, .contacto-hero, .faq-hero {
  background-size: cover;
  height: 32vh;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nosotros-hero { background-image: url("../assets/Banner-nosotros.svg"); }
.oportunidades-hero { background-image: url("../assets/Banner-oportunidades.svg"); }
.contacto-hero { background-image: url("../assets/Banner-contacto.svg"); }
.faq-hero { background-image: url("../assets/Banner-FAQ.svg"); }

@media (max-width: 991px) {
  .hero { 
    margin: 20px v.$padding-responsive 40px v.$padding-responsive; 
    padding-bottom: 60px;

    h1 { margin: 20px; }

    .hero-image { 
      width: 250px; 
      bottom: -300px; 
    }
  }

  .nosotros-hero, .oportunidades-hero, .contacto-hero, .faq-hero { 
    margin: 0 v.$padding-responsive; 
    height: 25vh;
  }
}
//secciones proposito innovacion y red
.proposito-seccion, .innovacion-seccion, .red-seccion {
  @include m.section-layout;
}

@media (max-width: 991px) {
  .proposito-seccion, .innovacion-seccion, .red-seccion {
    flex-direction: column; 
    margin: 30px v.$padding-responsive 40px v.$padding-responsive;
    padding: v.$padding-responsive 0;
  }
  
  .innovacion-seccion { 
    flex-direction: column-reverse; 
  }
}

.img-contenedor-proposito, .img-contenedor-innovacion, .img-contenedor-red {
  flex: 1;
  
  img {
    width: 100%;
    display: block;
    border-radius: 6px;
  }
}

@media (max-width: 991px) {
  .img-contenedor-proposito, .img-contenedor-innovacion, .img-contenedor-red {
    padding-right: 0;
    margin-bottom: v.$padding-base;
  }
}


// contenedores de texto 
.proposito-text-container, .innovacion-text-container, .red-text-container {
  flex: 1.2;
  padding-left: 20px;
}
@media (max-width: 991px) {
  .proposito-text-container, .innovacion-text-container, .red-text-container {
    padding-left: 0;
  }
}


//taglines
.tagline-proposito, .tagline-innovacion, .tagline-red {
  display: inline-block;
  padding: 5px v.$padding-base;
  margin-bottom: 10px;
  font-size: 1em;
  font-weight: 500;
}

.tagline-proposito { background-color: v.$color-tagline-proposito; }
.tagline-innovacion { background-color: v.$color-tagline-innovacion; }
.tagline-red { background-color: v.$color-tagline-red; }

.titulo-proposito, .titulo-innovacion, .titulo-red { margin: 0 v.$margin-base 20px 0 }
.descripcion-proposito, .descripcion-innovacion, .descripcion-red { margin: 0 v.$margin-base 20px 0 }


//galeria nosotros

.galeria-seccion {
  padding: 60px 20px;
  text-align: center;

  h2 { margin-bottom: 40px; }

  .galeria-contenedor-flex {
    display: flex;
    justify-content: center;
    gap: 14px;

  }
}

 @media (max-width: 991px) {
.galeria-contenedor-flex {
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling:touch;
  gap: v.$padding-base;
    }
 }

/*form*/

.contacto-container {
  display: flex;
  justify-content: center;
  padding: 60px ; 
}

.contacto-form-card {
  display: flex; 
  width: 100%;
  background-color: v.$color-fondo-blanco; 
  border-radius: v.$border-radius-xl;
  box-shadow: v.$shadow-card;
}

.contacto-form-card section {
  width: 40%; 
  background-image: url("../assets/bg-form.svg"); 
  background-size: cover;
  background-position: center;
  padding: 60px 40px;
  display: flex; 
  flex-direction: column;
  justify-content: center; 
  color: v.$color-fondo-blanco;
  border-radius: v.$border-radius-xl 0 0 v.$border-radius-xl;
}

.contacto-form-card section h2 {
  color: v.$color-primario;
  font-family: v.$font-principal;
  font-size: 38px;
  margin-bottom: 16px;
}
.contacto-form-card section p {
  color: v.$color-texto-claro;
  font-family: v.$font-secundaria;
  font-size: 18px;
}

.contacto-form-card form {
  width: 60%; 
  padding: 60px 50px;
}

.contacto-form-card label {
  font-family: 'Manrope', sans-serif;
  color: v.$color-texto-claro; 
  font-size: 14px;
  margin-top: 20px; 
  margin-bottom: 4px; 
}

.contacto-form-card input[type="text"], 
.contacto-form-card input[type="email"],
.contacto-form-card textarea {
  width: 100%;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid #D9D9D9; 
  background-color: transparent;
  font-size: 16px;
  font-family: v.$font-secundaria;
  color: v.$color-texto-oscuro;
  outline: none; 
  resize: none; 
}

.contacto-form-card button[type="submit"] {
  background-color: v.$color-cta-principal; 
  color: v.$color-texto-oscuro; 
  border: none;
  padding: 12px 40px; 
  border-radius: 24px; 
  font-weight: 600; 
  font-family: v.$font-principal;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-top: 40px;
  display: block;
  margin-left: auto;
}

.contacto-form-card button[type="submit"]:hover {
    background-color: v.$color-cta-hover; 
}

@media (max-width: 991px) {
  .contacto-hero {
    margin: 0 18px;
  }
  .contacto-container {
    padding: v.$padding-responsive;
  }
  .contacto-form-card {
    display: block; 
  }
  .contacto-form-card section{
    width: 100%;
    border-radius: v.$border-radius-xl v.$border-radius-xl 0 0;
  }
  .contacto-form-card form {
    width: 100%;
  }
}


/*Acordion de bootstrap*/
.accordion {
  --bs-accordion-border-color: transparent;
  --bs-accordion-border-radius:0 ;
  padding: 10px 0;
  margin: v.$margin-base;
}

.accordion-item {
  background-color: transparent;
  border: none;
}

.accordion-button {
  background-color: transparent ;
  box-shadow: none;
  font-family: v.$font-principal;
  font-size: 28px;
  color: #2a2a2a;
  padding: 36px v.$padding-base;
  border-bottom: 1px solid #e0e0e0;
}

.accordion-button:not(.collapsed) {
  background-color: transparent;
  color: v.$color-primario;
}

.accordion-body {
  font-family: v.$font-secundaria;
  color: v.$color-texto-claro;
  padding: 20px 0 v.$padding-base 60px;
  border-bottom: 1px solid #e0e0e0;
}

.accordion-item:last-of-type .accordion-button.collapsed {
  border-bottom: none;
}

.accordion-item:last-of-type .accordion-collapse.show .accordion-body {
  border-bottom: none;
}


@media (max-width: 991px) {
  .accordion { 
    margin: v.$padding-responsive; 
  }
  
  .accordion-item {
    .accordion-button {
      font-size: 22px;
      padding: 28px ;
    }

    .accordion-body {
      padding: 10px 0 10px 20px;
    }
  }
}
