@use '../utilities/mixins' as m;

//galeria nosotros

.galeria-seccion {
  padding: 60px 20px;
  text-align: center;

  h2 { margin-bottom: 40px; }

  .galeria-contenedor-flex {
    display: flex;
    justify-content: center;
    gap: 14px;

  }
}

 @media (max-width: 991px) {
.galeria-contenedor-flex {
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling:touch;
  gap: v.$padding-base;
    }
 }

/*Acordion de bootstrap*/
.accordion {
  --bs-accordion-border-color: transparent;
  --bs-accordion-border-radius:0 ;
  padding: 10px 0;
  margin: v.$margin-base;
}

.accordion-item {
  background-color: transparent;
  border: none;
}

.accordion-button {
  background-color: transparent ;
  box-shadow: none;
  font-family: v.$font-principal;
  font-size: 28px;
  color: #2a2a2a;
  padding: 36px v.$padding-base;
  border-bottom: 1px solid #e0e0e0;
}

.accordion-button:not(.collapsed) {
  background-color: transparent;
  color: v.$color-primario;
}

.accordion-body {
  font-family: v.$font-secundaria;
  color: v.$color-texto-claro;
  padding: 20px 0 v.$padding-base 60px;
  border-bottom: 1px solid #e0e0e0;
}

.accordion-item:last-of-type .accordion-button.collapsed {
  border-bottom: none;
}

.accordion-item:last-of-type .accordion-collapse.show .accordion-body {
  border-bottom: none;
}


@media (max-width: 991px) {
  .accordion { 
    margin: v.$padding-responsive; 
  }
  
  .accordion-item {
    .accordion-button {
      font-size: 22px;
      padding: 28px ;
    }

    .accordion-body {
      padding: 10px 0 10px 20px;
    }
  }
}
