@mixin flex ($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin text-conteiner ($justify) {
    flex: 1.2;
    margin: 60px;
    justify-content: $justify;
}