//espacio reservado para guardar un dato
//tamaño y color de tipografias

$main-color: #2A2F4F;
$second-color: #52225E;
$dark-grey: #333333;
$light-grey: #787878;

$margin-mobile: 0px 12px;
$margin-desktop: 0px 60px;

$radio-articulos: 6px;
$descripcion: 0 60px 20px 0;
