* {
  margin: 0;
  padding: 0;
}

/* Importar fuentes */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&family=Work+Sans:wght@400;500&display=swap');


body {
  background-color: #FCFAF4; /* fondo general */
  font-family: 'Manrope', sans-serif;
  margin: 0 60px;

  media (max-width: 991px) { 
  margin: 0px 18px;
}

/*Titulos*/

  h1 {
    font-size: 72px;
    color:#333333;
  }

  h2 {
    color: #2A2F4F;
  }

  h3 {
    color: #2A2F4F;
  }

  h4 {
    color: #52225E
  }

/*Subtitulos*/
  .subtitulo {
    font-family: 'Work Sans', sans-serif;
    color: #52225E;
  }

/*Parrafos*/

  p, label, footer {
    font-family: 'Work Sans', sans-serif;
    color: #787878;
  }


/*Nav bar*/

.navbar {
    padding: 0px 0; 
}

#kumo-navbar-container {
    padding: 42px 60px;
}


.logo-kumo {
    width: 160px; 
}

.navbar .container-fluid {
    justify-content: space-between; 
}


.navbar-nav .nav-link {
    font-family: 'Manrope', sans-serif;
    color: #333333; 
    margin-right: 20px; 
    font-size: 16px; 
}

.kumo-cta-btn {
    background-color: #F8C3A7; 
    color: #333333; 
    border: none;
    padding: 10px 32px;
    border-radius: 22px; 
    font-weight: 600; 
    
    margin-left: 15px;
    transition: background-color 0.2s;
}

.kumo-cta-btn:hover {
    background-color: #ffaa7d; 
    color: #333333;
}


@media (max-width: 991px) { 
    margin: 0px 12px; /*esto lo tuve que duplicar, si lo uso en uno y no en el otro, no funciona, no entiendo bien por que*/

    .kumo-cta-btn {
        display: block;
        margin-top: 10px;
        margin-left: 0;
        text-align: center;
    }

    #kumo-navbar-container {
        padding: 16px 8px 16px 16px;
    }
    
    .kumo-cta-btn {
        display: block;
        margin-top: 10px;
        margin-left: 0;
        text-align: center;
    }
}
}


/*footer*/
footer {
  margin: 0 60px;
}

.footer {
  width: 100%;
  padding: 96px 0;
  display: grid;
  grid-template-columns: 180px auto;
  gap: 60px;
  align-items: center;
}

.copy {
  text-align: right;
  margin-top: 20px;
}

footer div {
  padding: 6px 0px;
}

.iso-footer {
    width: 100%; 
    grid-column: 1; 
    grid-row: 1; 
    justify-self: center; 
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stores {
  display: flex;
  align-items: center;
}

.android-footer,
.apple-footer {
  height: 48px; 
  width: auto;
  display: block; 
}

.android-footer {
  margin-right: 18px; 
}

@media (max-width: 991px) { 
  footer {
    margin: 18px;
  }

  .footer {
    grid-template-columns: 1fr;
    gap: 30px;
    padding: 40px 0;
    text-align: left;
    display: grid;
  }
/*no entiendo bien por que el h2 se modifica cuando se achica la pantalla*/
  .iso-footer {
    width: 180px;
    margin: 0;
    grid-column: 1 / -1;
    order: 1;
    justify-self: start;
  }

  .copy {
    padding: 0 18px;
  }
}



/*HERO index*/
.hero {
 background-image: url("../assets/bg\ hero.svg");
 background-size: cover;
 height: 100vh;
 background-position: center center;
 border-radius: 24px;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-around;
 margin: 0 60px;
}

/*Galeria index*/

.titulo-galeria {
  text-align: center;
  padding: 32px;
}

.grid-container{ /*Falta estilizar las cards*/
display: grid;

grid-row: repeat (3, 150px);
grid-template-columns: repeat (3, 1fr);
gap: 24px;
margin: 24px;

grid-template-areas: 
  "explora elige elige"
  "explora conecta participa"
  "impacta impacta sigue";
}

.items-galeria {
  padding: 16px;
  border-radius: 24px;
} 

.explora {
  background-color: #AAC0E9;
  grid-area: explora;
}

.elige {
  background-color: #FFD3B6;
  grid-area: elige;
}

.conecta {
  background-color: #B8D8BE;
  grid-area: conecta;
}

.participa {
  background-color: #FEC868;
  grid-area: participa;
}

.impacta {
  background-color: #F6C6EA;
  grid-area: impacta;
}

.sigue {
  background-color: #AAC0E9;
  grid-area: sigue ;
}


/*Nosotros Page*/
.nosotros-hero {
  background-image: url("../assets/Banner-nosotros.svg");
  background-size: cover;
  height: 32vh;
  background-position: center center;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 60px;
}

/*Primera seccion*/
.proposito-seccion {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 50px 30px 60px 30px;
  padding: 30px ;
}

.img-contenedor-proposito {
  flex: 1;
  padding-right: 20px;
}

.img-contenedor-proposito img {
  width: 100%;
  display: block;
  border-radius: 6px;
}

.proposito-text-container {
  flex: 1.2;
  padding-left: 20px;
}

.tagline-proposito {
  background-color: #f3e9d7;   
  display: inline-block;
  padding: 5px 24px;
  margin-bottom: 10px;
  font-size: 1em;
  font-weight: 500;
}

.titulo-proposito {
  margin: 0 60px 20px 0
}

.descripcion-proposito {
  margin: 0 60px 20px 0
}

/*Segunda Seccion*/
.innovacion-seccion {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 50px 30px 60px 30px;
  padding: 30px ;
}

.img-contenedor-innovacion {
  flex: 1;
  padding-right: 60px;
}

.img-contenedor-innovacion img {
  width: 100%;
  display: block;
  border-radius: 6px;
}

.innovacion-text-container {
  flex: 1.2;
  padding-left: 20px;
}

.tagline-innovacion {
  background-color: #F0E4E9;   
  display: inline-block;
  padding: 5px 24px;
  margin-bottom: 10px;
  font-size: 1em;
  font-weight: 500;
}

.titulo-innovacion {
  margin: 0 60px 20px 0
}

.descripcion-innovacion {
  margin: 0 60px 20px 0
}

/*Galeria*/
.galeria-seccion {
padding: 60px 20px;
text-align: center;
}

.galeria-seccion h2 {
  margin-bottom: 40px;
}

.galeria-contenedor-flex {
  display: flex;
  justify-content: center;
  gap: 14px;
}

/*Oportunidades page*/
.oportunidades-hero {
  background-image: url("../assets/Banner-oportunidades.svg");
  background-size: cover;
  height: 32vh;
  background-position: center center;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 60px;
}

/*Primera seccion*/
.red-seccion {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 50px 30px 60px 30px;
  padding: 30px ;
}

.img-contenedor-red {
  flex: 1;
  padding-right: 20px;
}

.img-contenedor-red img {
  width: 100%;
  display: block;
  border-radius: 6px;
}

.red-text-container {
  flex: 1.2;
  padding-left: 20px;
}

.tagline-red {
  background-color: #E6E9EC;   
  display: inline-block;
  padding: 5px 24px;
  margin-bottom: 10px;
  font-size: 1em;
  font-weight: 500;
}

.titulo-red {
  margin: 0 60px 20px 0
}

.descripcion-red {
  margin: 0 60px 20px 0
}


/*Contacto page*/
.contacto-hero {
  background-image: url("../assets/Banner-contacto.svg");
  background-size: cover;
  height: 32vh;
  background-position: center center;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 60px;
}

/*form*/

.contacto-container {
  display: flex;
  justify-content: center;
  padding: 60px ; 
}

.contacto-form-card {
  display: flex; 
  width: 100%;
  background-color: #FFFFFF; 
  border-radius: 24px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}

.contacto-form-card section {
  width: 40%; 
  background-image: url("../assets/bg-form.svg"); 
  background-size: cover;
  background-position: center;
  padding: 60px 40px;
  display: flex; 
  flex-direction: column;
  justify-content: center; 
  color: #FFFFFF;
  border-radius: 24px 0 0 24px;
}

.contacto-form-card section h2 {
  color: #2A2F4F;
  font-family: 'Manrope', sans-serif;
  font-size: 38px;
  margin-bottom: 16px;
}
.contacto-form-card section p {
  color: #787878;
  font-family: 'Work Sans', sans-serif;
  font-size: 18px;
}

.contacto-form-card form {
  width: 60%; 
  padding: 60px 50px;
}

.contacto-form-card label {
  font-family: 'Manrope', sans-serif;
  color: #787878; 
  font-size: 14px;
  margin-top: 20px; 
  margin-bottom: 4px; 
}

.contacto-form-card input[type="text"], /*no supe poner nombre y apellido en la misma linea, de cada manera que lo intente, se rompia*/
.contacto-form-card input[type="email"],
.contacto-form-card textarea {
  width: 100%;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid #D9D9D9; 
  background-color: transparent;
  font-size: 16px;
  font-family: 'Work Sans', sans-serif;
  color: #333333;
  outline: none; 
  resize: none; 
}

.contacto-form-card button[type="submit"] {
  background-color: #F8C3A7; 
  color: #333333; 
  border: none;
  padding: 12px 40px; 
  border-radius: 24px; 
  font-weight: 600; 
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-top: 40px;
  display: block;
  margin-left: auto;
}

.contacto-form-card button[type="submit"]:hover {
    background-color: #ffaa7d; 
}

@media (max-width: 991px) {
  .contacto-hero {
    margin: 0 18px;
  }
  .contacto-container {
    padding: 18px;
  }
  .contacto-form-card {
    display: block; 
  }
  .contacto-form-card section{
    width: 100%;
    border-radius: 24px 24px 0 0;
  }
  .contacto-form-card form {
    width: 100%;
  }
}

/*faq page*/
.faq-hero {
  background-image: url("../assets/Banner-FAQ.svg");
  background-size: cover;
  height: 32vh;
  background-position: center center;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 60px;
}

/*Acordion de bootstrap*/
.accordion {
  --bs-accordion-border-color: transparent;
  --bs-accordion-border-radius:0 ;
  padding: 10px 0;
  margin: 60px;
}

.accordion-item {
  background-color: transparent;
  border: none;
}

.accordion-button {
  background-color: transparent ;
  box-shadow: none;
  font-family: 'Manrope', sans-serif;
  font-size: 28px;
  color: #2a2a2a;
  padding: 36px 24px;
  border-bottom: 1px solid #e0e0e0;
}

.accordion-button:not(.collapsed) {
  background-color: transparent;
  color: #2A2F4F;
}

.accordion-body {
  font-family: 'Work Sans', sans-serif;
  color: #787878;
  padding: 20px 0 24px 60px;
  border-bottom: 1px solid #e0e0e0;
}

.accordion-item:last-of-type .accordion-button.collapsed {
  border-bottom: none;
}

.accordion-item:last-of-type .accordion-collapse.show .accordion-body {
  border-bottom: none;
}