* {
  margin: 0;
  padding: 0;
}

/* Importar fuentes */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&family=Work+Sans:wght@400;500&display=swap');


body {
  background-color: #FCFAF4; /* fondo general */
  font-family: 'Manrope', sans-serif;
}

/*Titulos*/

  h1 {
    font-size: 72px;
    color:#333333;
  }

  h2 {
    color: #2A2F4F;
  }

  h3 {
    color: #2A2F4F;
  }

  h4 {
    color: #52225E
  }

/*Subtitulos*/
  .subtitulo {
    font-family: 'Work Sans', sans-serif;
    color: #52225E;
  }

/*Parrafos*/

  p, label, footer {
    font-family: 'Work Sans', sans-serif;
    color: #787878;
  }


/*Nav bar*/
header {
  width: 100%;
  padding: 20px 60px;
}  

nav {
  /*no logre alinear los links con el logo */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px;
}


.navbar-flex { /*no logre hacer que los links se alineen al logo, podrias ayudarme?*/
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-kumo {
  height: 48px;
}

.navbar-flex ul {
  list-style: none;
  display: flex;
  gap: 32px;
}

.navbar-flex a {
  text-decoration: none;
  color: #2A2F4F;
  font-size: 16px;
}

.cta a {
  background-color: #ffd3b6;
  padding: 14px 24px;
  border-radius: 36px;
  font-weight: 60;
}

body {
  margin: 0 60px;
}
/*footer*/
footer {
  margin: 0 60px;
}

footer div {
  padding: 6px 20px;
}

.footer {
  width: 1200px;
  padding: 96px 0;
  display: grid;
  grid-template-columns: 180px auto;
  gap: 60px;
  align-items: center;
}

.iso-footer {
    width: 100%; 
    grid-column: 1; 
    grid-row: 1; 
    justify-self: center; 
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


.stores {
  display: flex;
  align-items: center;
}

.android-footer,
.apple-footer {
    height: 48px; 
    width: auto;
    display: block; 
}

.android-footer {
    margin-right: 18px; 
}

.copy {
  text-align: right;
}

/*HERO*/
.hero {
 background-image: url("../assets/bg\ hero.svg");
 background-size: cover;
 height: 100vh;
 background-position: center center;
 border-radius: 24px;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-around;
 margin: 0 60px;
}

/*Galeria index*/

.titulo-galeria {
  text-align: center;
  padding: 32px;
}

.grid-container{ /*Falta estilizar las cards*/
display: grid;

grid-row: repeat (3, 150px);
grid-template-columns: repeat (3, 1fr);
gap: 24px;
margin: 24px;

grid-template-areas: 
  "explora elige elige"
  "explora conecta participa"
  "impacta impacta sigue";
}

.items-galeria {
  padding: 16px;
  border-radius: 24px;
} 

.explora {
  background-color: #AAC0E9;
  grid-area: explora;
}

.elige {
  background-color: #FFD3B6;
  grid-area: elige;
}

.conecta {
  background-color: #B8D8BE;
  grid-area: conecta;
}

.participa {
  background-color: #FEC868;
  grid-area: participa;
}

.impacta {
  background-color: #F6C6EA;
  grid-area: impacta;
}

.sigue {
  background-color: #AAC0E9;
  grid-area: sigue ;
}


/*Nosotros Page*/
.nosotros-hero {
  background-image: url("../assets/Banner-nosotros.svg");
  background-size: cover;
  height: 32vh;
  background-position: center center;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 60px;
}

/*Primera seccion*/
.proposito-seccion {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 50px 30px 60px 30px;
  padding: 30px ;
}

.img-contenedor-proposito {
  flex: 1;
  padding-right: 20px;
}

.img-contenedor-proposito img {
  width: 100%;
  display: block;
  border-radius: 6px;
}

.proposito-text-container {
  flex: 1.2;
  padding-left: 20px;
}

.tagline-proposito {
  background-color: #f3e9d7;   
  display: inline-block;
  padding: 5px 24px;
  margin-bottom: 10px;
  font-size: 1em;
  font-weight: 500;
}

.titulo-proposito {
  margin: 0 60px 20px 0
}

.descripcion-proposito {
  margin: 0 60px 20px 0
}

/*Segunda Seccion*/
.innovacion-seccion {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 50px 30px 60px 30px;
  padding: 30px ;
}

.img-contenedor-innovacion {
  flex: 1;
  padding-right: 60px;
}

.img-contenedor-innovacion img {
  width: 100%;
  display: block;
  border-radius: 6px;
}

.innovacion-text-container {
  flex: 1.2;
  padding-left: 20px;
}

.tagline-innovacion {
  background-color: #F0E4E9;   
  display: inline-block;
  padding: 5px 24px;
  margin-bottom: 10px;
  font-size: 1em;
  font-weight: 500;
}

.titulo-innovacion {
  margin: 0 60px 20px 0
}

.descripcion-innovacion {
  margin: 0 60px 20px 0
}

/*Galeria*/
.galeria-seccion {
padding: 60px 20px;
text-align: center;
}

.galeria-seccion h2 {
  margin-bottom: 40px;
}

.galeria-contenedor-flex {
  display: flex;
  justify-content: center;
  gap: 14px;
}
